@model ShopMartWebsite.Models.OrderViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@if (Model != null)
{
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">
                <span>Xóa đơn hàng</span>
            </h5>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <!--Thêm value để Edit-->
            <form id="actionForm">
                <input type="hidden" name="ID" value="@Model.id" />
            </form>
            <div class="alert alert-danger" role="alert">
                Bạn thật sự muốn xóa đơn hàng này?
            </div>
        </div>
        <div class="modal-footer">
            <button id="actionButton" type="button" class="btn btn-danger"><i class="fas fa-trash-alt mr-1"></i> Delete</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times mr-1"></i> Close</button>
        </div>
    </div>
}
    <script>
    //Create
    $('#actionButton').click(function () {
        $.ajax({
            url: '@Url.Action("Delete", "Order")',
            type: 'post',
            data: $('#actionForm').serialize()
        }).done(function (response) {
            if (response.Success) {
                //data is saved .... reload listing
                window.location.href = '@Url.Action("Index", "Order")';
            }
            else {
                $('.errorDiv').html(response.Massage);
            }
        });
    });

    </script>